/* universal selector */
*{
  margin:0;
  padding:1rem
}

/* element selector */
body{
  position: relative;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:1.25rem;
  background-image:url("../assets/gr-bg-2.png");
  background-size: cover; 
  background-repeat: no-repeat; 
  color: white;
  flex-wrap: wrap;
}

h1{
  margin:1.25rem;
  display:flex;
  justify-content: center;
  font-style:oblique;
  font-size: 5rem;
  font-weight: bolder;
  padding-bottom: 6rem;
  color:white;
  text-shadow: -3px -3px 0 #b49d42, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

figcaption{
  color: white;
  font-size: 1.5rem
}

form {
  /* Center the form on the page */
  margin: auto;
  width: 31.25rem;
  padding: .66rem;
  border: .25rem solid #b49d42;
  border-radius: 1.25rem;
  text-align: center;
}

label {
  display: inline-block;
  width: 6.25rem;
  color: white;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 18.75rem;
  padding: .5rem;
}

textarea {
  vertical-align: top;
  height: 4.25rem;
}
  
button {
  height: 2.85rem;
  width: 8.5rem;
  font-size: large;
  background-color: #f4d6e7;
  color: #000000;
  
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  position: relative;
  margin-top: 44rem;
  line-height: 1.5;
  bottom: 0;
  border-bottom: 10px solid #4F4846;
  background-color: #272518;
  color: #ffffff;    
  
}


/* class selectors */
.header {
  display: flex;
  align-items: center; 
  justify-content:space-between;
}

.social-icon {
  border: .2rem solid #f3b8da; 
  border-radius: 50%; 
  padding: .4rem; 
}

.header nav li {
  display: inline-block;
  margin-right: .85rem; 
}


.left-content {
  margin:3rem;
  padding:3rem;
  font-size: 2rem;
  font-weight:bold;
  background-color: rgb(55, 67, 43);
  color: #f3b8da;
  text-shadow: -1px -1px 0 #b49d42, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
}

.right-content{
  margin: 3rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  color: white;
  text-shadow: -2px -2px 0 #b49d42, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

#header-logo{
  width: 7rem;
  padding-bottom: 0;
}
#emily-face {
  width: 12rem; 
  height: auto;
  border-radius: 50%;
}

#footer-logo {
  display: flex;
  justify-content: center;

}

#footer-logo-img {
  background-color: #000000;
  box-shadow: -2px -2px 0 #b49d42, 2px -2px 0 #b49d42, -2px 2px 0 #b49d42, 2px 2px 0 #b49d42;
}

#copyright{
  margin-top: 1.5rem;
  text-align: center;
}


@media (min-width: 1400px) {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .left-content {
    flex: 1;
  }
  .right-content {
    flex: 1;
    padding-left: 23rem;
  }
  
}

@media (max-width: 768px) {

  h1 {
    font-size: 3rem;
  }

  .header {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }
  
  .social-icon {
    margin-top: 0.5rem; 
  }
  
  form {
    width: 100%; 
    padding: 1rem;
  }

  ul li {
    display: block;
    margin-bottom: 1rem; 
  }

  label {
    display: block;
    width: 100%; 
    text-align: left; 
    margin-bottom: 0.5rem; 
  }

  input[type="text"],
  textarea {
    width: 100%; /
  }

  button[type="submit"] {
    width: 100%; 
  }
}